.width {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 3rem);
  @include break(s) {
    max-width: 80em;
  }
}

header {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr;
  .logo { text-align: left; }
  nav { text-align: right; }
}


.logo {
  font-size: 1rem;
  font-weight: 600;

  // Square. Not circle;
  &:before{
    content: "";
    display: inline-block;
    background-color: #FF0000;
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: -3px;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: -(2.25 / 2) + 0rem;

  }
}

.menu {
  background-color: black;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;

  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;

    @at-root .logo {
      height: 4rem;
      line-height: 4rem;
    }

  @include break(s) {
    font-size: 1.625rem;
    height: 6.625rem;
    width: 6.625rem;
    line-height: 6.625rem;

    @at-root .logo {
      font-size: 1.625rem;
      height: 6.625rem;
      line-height: 6.625rem;
    }

  }

  &:after{
    content: "open";
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    transition: right 360ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover {
    &:after {
      right: 0;
    }
  }


  @at-root header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  position: absolute;
  top: 0;
  right: 0;
}

nav {
  margin: 0;
  ol {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 2rem;
      &:first-child { margin-left: 0; }
      a {
        display: block;
        text-decoration: none;
      }
    }
  }
}

/**
 * The space between
 */
.middle,
.half {
  padding: 1rem 0;

  @include break(s) {
    padding: 4rem 0;
  }
  @include break(x) {
    padding: 10rem 0;
  }
}

.middle {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.brim {
  padding-left: 3rem;
  padding-right: 3rem;

  &__left { padding-left: 3rem; }
  &__right{ padding-right: 3rem; }
}

/**
 * Micro grid
 */
.half {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 4rem;

  @include break(s) {
    grid-template-columns: 1fr 1fr;
  }
}


/**
 * Things
 */
img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
  border: 0;
}

figure {
  padding: 0;
  margin: 0;
}

aside {}

.columns {
  list-style: none;
  columns: 4;
}


.button {
  background: rgba(255,255,255,0.90);
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1.25rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
}

/**
 * Hero with a background etc.
 */

.hero {
  background-color: #000000;
  background-color: rgba(50,237,255,0.60);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center center;
  padding-top: 7rem;
  padding-bottom: 7rem;

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
  }


  .futher {
    text-align: right;
    margin-top: 2rem;
  }

}

/**
 * Posts list
 */

.front-page__posts {
  background-image: linear-gradient(-180deg, #FFFEF0 0%, #FAFAFA 100%);
}