@font-face {
  font-family: 'coding';
  font-style: normal;
  font-weight: 300;
  src: url(gt-pressura-mono-light-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'coding';
  font-style: normal;
  font-weight: 400;
  src: url(gt-pressura-mono-regular-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'coding';
  font-style: normal;
  font-weight: 600;
  src: url(gt-pressura-mono-bold-webfont.woff2) format('woff2');
}

body {
  font-family: 'coding', sans-serif;
  line-height: 1.45;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

b, strong { font-weight: 600; }


h1 {
 font-size: 2.25rem;
}

h2 {
 font-size: 1.625rem;
}

h3 {
 font-size: 2.25rem;
}

h4 {
 font-size: 1.5rem;
}

h5,
 h6, p { font-size: 1.25rem;
}
