{{ partial "header.html" . }}

<article class="hero width" style="background-image: url({{ .Site.BaseURL }}images/richard-price-601921-unsplash.jpg);">
  <section class="middle">
    <h1>Creative <strong>director</strong></h1>
    <h2>Designer | Tinkerer | Ideas</h2>
    <p class="">
      <a class="button" href="mailto:eyeversuseye@gmail.com">Hire me.</a>
    </p>
  </section>
</article>

<div class="front-page__posts width">
  <article class="brim">
    {{ .Content }}
  </article>
</div>

<div class="things-i-did-once width">
  {{ range (where .Site.RegularPages "Type" "work").ByDate | first 4 }}
    {{ .Content }}
  {{ end }}
</div>

<div class="front-page__clients width">
  <article class="brim">
    <ul class="columns">
      <li>.</li>
      <li>.</li>
      <li>.</li>
      <li>.</li>
    </ul>
  </article>
</div>



{{ partial "footer.html" . }}
