/**
 * Thin
 */
.width {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 3rem); }
  @media (min-width: 50em) {
    .width {
      max-width: 80em; } }

header {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr; }
  header .logo {
    text-align: left; }
  header nav {
    text-align: right; }

.logo {
  font-size: 1rem;
  font-weight: 600; }
  .logo:before {
    content: "";
    display: inline-block;
    background-color: #FF0000;
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: -3px;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: -1.125rem; }

.menu {
  background-color: black;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  font-size: 1rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  position: absolute;
  top: 0;
  right: 0; }
  .logo {
    height: 4rem;
    line-height: 4rem; }
  @media (min-width: 50em) {
    .menu {
      font-size: 1.625rem;
      height: 6.625rem;
      width: 6.625rem;
      line-height: 6.625rem; }
      .logo {
        font-size: 1.625rem;
        height: 6.625rem;
        line-height: 6.625rem; } }
  .menu:after {
    content: "open";
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    -webkit-transition: right 360ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: right 360ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: right 360ms cubic-bezier(0.86, 0, 0.07, 1); }
  .menu:hover:after {
    right: 0; }
  header {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

nav {
  margin: 0; }
  nav ol {
    margin: 0;
    padding: 0; }
    nav ol li {
      display: inline-block;
      margin-left: 2rem; }
      nav ol li:first-child {
        margin-left: 0; }
      nav ol li a {
        display: block;
        text-decoration: none; }

/**
 * The space between
 */
.middle,
.half {
  padding: 1rem 0; }
  @media (min-width: 50em) {
    .middle,
    .half {
      padding: 4rem 0; } }
  @media (min-width: 80em) {
    .middle,
    .half {
      padding: 10rem 0; } }

.middle {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.brim {
  padding-left: 3rem;
  padding-right: 3rem; }
  .brim__left {
    padding-left: 3rem; }
  .brim__right {
    padding-right: 3rem; }

/**
 * Micro grid
 */
.half {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 4rem; }
  @media (min-width: 50em) {
    .half {
      grid-template-columns: 1fr 1fr; } }

/**
 * Things
 */
img, video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  border: 0; }

figure {
  padding: 0;
  margin: 0; }

.columns {
  list-style: none;
  -webkit-columns: 4;
          columns: 4; }

.button {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1.25rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: black; }

/**
 * Hero with a background etc.
 */
.hero {
  background-color: #000000;
  background-color: rgba(50, 237, 255, 0.6);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center center;
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .hero h1 {
    margin-bottom: 1rem; }
  .hero h2 {
    margin-left: auto;
    margin-right: auto; }
  .hero .futher {
    text-align: right;
    margin-top: 2rem; }

/**
 * Posts list
 */
.front-page__posts {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFEF0), to(#FAFAFA));
  background-image: -webkit-linear-gradient(top, #FFFEF0 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(top, #FFFEF0 0%, #FAFAFA 100%);
  background-image: linear-gradient(-180deg, #FFFEF0 0%, #FAFAFA 100%); }

@font-face {
  font-family: 'coding';
  font-style: normal;
  font-weight: 300;
  src: url(gt-pressura-mono-light-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'coding';
  font-style: normal;
  font-weight: 400;
  src: url(gt-pressura-mono-regular-webfont.woff2) format("woff2"); }

@font-face {
  font-family: 'coding';
  font-style: normal;
  font-weight: 600;
  src: url(gt-pressura-mono-bold-webfont.woff2) format("woff2"); }

body {
  font-family: 'coding', sans-serif;
  line-height: 1.45;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300; }

b, strong {
  font-weight: 600; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.625rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5rem; }

h5,
h6, p {
  font-size: 1.25rem; }
