<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->

  <meta name="theme-color" content="#F8E71C">
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->
  <meta name="format-detection" content="telephone=no">

  <title>eyeversuseye | Archipelago</title>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/normalise.css?{{ index (seq 30 | shuffle) 0 }}">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/all.css?{{ index (seq 30 | shuffle) 0 }}">
</head>